@import "tailwindcss";

* {
  margin: 0;
}


html, body, #root {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto; /* Footer kann wieder sichtbar werden */
}

.safe-h {
  height: 100dvh;
  height: 100vh; /* fallback */
}